doctype html
html(ng-app='SurveySamurai')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Survey Samurai
    link(href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700', rel='stylesheet', type='text/css')
    link(href='/css/foundation.css', rel='stylesheet')
    link(href='/css/default.css', rel='stylesheet')
    block scripts
    script(type='application/javascript', src='/bundle.js')
  body(ng-controller='MainController as main')
    .page-wrapper
      .navbar
        .title
          a(href='/') Survey Samurai
      block content
      hr
      .footer
        a(href='/admin') Admin Login
