extend ./_layout.jade

block scripts
  link(href='/css/foundation-icons.css', rel='stylesheet')
  script(type='application/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='application/javascript', src='/js/foundation.js')
  script(type='application/javascript', src='/js/foundation.accordion.js')
  script.
    $(document).ready(function(){
      $(document).foundation();
    });

block content
  div.columns.small-12(ng-controller='DashboardController as dash')
    h4 Admin Dashboard
    a(href='/admin/survey/create') Add a new survey
    h5 Surveys
    ul.accordion(data-accordion='')
      li.survey-panel.accordion-navigation(ng-repeat='survey in dash.data track by $index')
        a(href='#panel{{$index}}') 
          div(style='width: 90%; display:inline-block;') {{ survey.text }}
          .fi-trash(style='float:right', ng-click='dash.deleteSurvey(survey.id)')
        .content(id='panel{{$index}}')
          table
            tr(ng-repeat='answer in survey.Answers')
              td {{ answer.text }}
              td {{ answer.votes }}
