extend ./_layout.jade

block scripts
  link(href='/css/foundation-icons.css', rel='stylesheet')
  script(type='application/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='application/javascript', src='/js/foundation.js')
  script(type='application/javascript', src='/js/foundation.accordion.js')
  script.
    $(document).ready(function(){
      $(document).foundation();
    });

block content
  .row
    .columns.small-12(ng-controller='DashboardController as dash')
      h4 Survey Dashboard
      .row
        .columns.small-12.medium-6
          a(href='/admin/survey/create') Add a new survey  
        .columns.small-12.medium-3.medium-offset-3
          input(type='text', placeholder='filter', ng-model='dash.filter')
      ul.accordion(data-accordion='')
        li.survey-panel.accordion-navigation(ng-repeat='survey in dash.filtered() track by $index')
          a(href='#panel{{$index}}') 
            div(style='width: 90%; display:inline-block;') {{ survey.text }}
            .fi-trash(style='float:right', ng-click='dash.deleteSurvey(survey.id)')
          .content(id='panel{{$index}}')
            table.answers-table
              tr(ng-repeat='answer in survey.Answers')
                td {{ answer.text }}
                td(width='50px', style='text-align:center;') {{ answer.votes }}
