<!doctype html>
<html ng-app='SurveySamurai'>
<head>
  <title>Survey Samurai</title>
  <script type="application/javascript" src="/bundle.js" ></script>
</head>
<body ng-controller='CreateController as create'>
  <h2>Survey Samurai</h2>
  <div class='add-area' ng-hide='create.addingSurvey'>
    <h3>Question:</h3>
    <input type='text' ng-model='create.question' placeholder="Question" />
    <h3>Answers:</h3>
    <div ng-repeat='answer in create.answers track by $index'>
      <input type='text' ng-model='create.answers[$index]' placeholder='Answer' />
    </div>
    <button ng-click="create.addAnswerBox()">+</button>
    <button ng-click='create.addSurvey()'>Submit</button>
  </div>
  <div ng-hide='!create.addingSurvey'>
    Adding new survey...
  </div>
</body>
</html>
