body {
  font-family: 'Maven Pro' sans-serif;
}

.page-wrapper {
  overflow-x: hidden;
}

.navbar {
  height: 60px;
  background-color: #6B64C1;
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  margin-bottom: 20px;
}

.answer input {
  vertical-align: baseline;
  font-size: 100px;
}

.submit-button {
  width: 100%;
  background-color: #6B64C1;
}

.submit-button:hover {
  background-color: #4F4A8E;
}

.title {
  font-size: 30px;
  position: relative;
  font-family: fantasy;
  top: 50%;
  transform:translateY(-50%);
  color: white;
  text-align: center;
}

.title > a {
  text-decoration: none;
  color: white;
}

.question {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.sorry-message {
  text-align:center;
}

.survey-panel {
  margin-bottom: 10px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  padding-right: 10px;
  text-align:right;
  background-color: #6B64C1;
}

.footer > a {
  color: white;
}
